.c-form-group,
.c-form-group-1 {
  margin-bottom: 1em;
}
.c-form-section {
  width: 80vw;
  margin: auto;
  margin-bottom: 1em;
}

.c-form-input,
.c-form-label,
.c-form-group-el,
.c-form-btn,
.c-form-btn button {
  width: 100%;
  max-width: 100% !important;
}

.c-form-con {
  padding: 2em;
}
#login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 1.5em;
  width: 80vw;
}
.login-form-con {
  min-height: var(--page-body-height-ss);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 500px) {
  #login-form {
    width: 80vw;
    padding-left: 10vw;
    padding-right: 10vw;
  }

  #login-form .w-100 input {
    width: 100%;
    max-width: 100%;
  }
}
@media only screen and (min-width: 750px) {
  .c-form-row {
    display: flex;
    justify-content: space-around;
  }

  .c-form-group {
    width: calc(50% - 4em);
    margin: 0.5em 2em;
  }

  .c-form-group-1 {
    width: 100%;
    margin: 0.5em 2em;
  }

  .c-form-section {
    width: 60vw;
    border-radius: 10px;
    margin-bottom: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: white;
    box-shadow: -4px 3px 23px -15px rgba(0, 0, 0, 0.75);
  }

  .c-form-btn {
    width: calc(100% - 4em);
    margin: 1em 2em;
  }
}

@media only screen and (min-width: 1000px) {
  #login-form {
    width: 60vw;
    padding-left: 15vw;
    padding-right: 15vw;
  }
}
